# IndentWidth: 4
Standard: Cpp03
BasedOnStyle: Microsoft
# SeparateDefinitionBlocks: Always
BreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
RemoveParentheses: ReturnStatement
UseTab: Always
IndentWidth: 4
TabWidth: 4

ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
